<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edsdl -->
      <package
            uri="http://www.eventDrivenScenario.org/edsdl"
            class="event.driven.scenario.dl.edsdl.EdsdlPackage"
            genModel="model/edsdl.genmodel"/>
   </extension>

</plugin>
