<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenedl -->
      <package
            uri="http://www.eventDrivenScenario.org/scenedl"
            class="scenedl.ScenedlPackage"
            genModel="model/scenedl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scenedl -->
      <package
            uri="http://www.eventDrivenScenario.org/edsdl"
            class="edsdl.EdsdlPackage"
            genModel="model/scenedl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edsdl -->
      <package
            uri="http://www.eventDrivenScenario.org/edsdl"
            class="event.driven.scenario.dl.edsdl.EdsdlPackage"
            genModel="model/edsdl.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated behavior -->
      <package
            uri="http://www.eventDrivenScenario.org/behavior"
            class="behavior.BehaviorPackage"
            genModel="model/behavior.genmodel"/>
   </extension>

</plugin>
